/* body {
  background-color: black;
} */

/* #mario {
  position: absolute;

  left: 0;
  transition: left 0.1s;
  margin-top: 20px;
}
#control {
  position: absolute;
  top: 30%;
  left: 20%;
}

.start {
  width: 180px;
  position: absolute;
  top: 47%;
  left: 32%;
  background-color: aqua;
}
.left {
  position: absolute;
  left: 8%;
  top: 54%;
  background-color: blue;
}
.right {
  position: absolute;
  top: 54%;
  left: 20%;
  background-color: blueviolet;
}

.alert {
  color: bisque;
  background-color: grey;
}
#beweglichesBild {
  width: 200px;
  position: absolute;
  right: 10%;
} */
/* Animation */
#canvas1 {
  #canvas1 {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 600px;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 150px;
    cursor: pointer;
  }
  .controls {
    position: relative;
    top: 10%;
    left: 10%;
  }
  .controls,
  select,
  option {
    margin-top: 150px;
    font-size: 25px;
    cursor: pointer;
  }

  option:hover {
    background-color: palevioletred;
  }
}
