body {
  background-color: black;
}

/* #mario {
  position: absolute;

  left: 0;
  transition: left 0.1s;
  margin-top: 20px;
}
#control {
  position: absolute;
  top: 30%;
  left: 20%;
}

.start {
  width: 180px;
  position: absolute;
  top: 47%;
  left: 32%;
  background-color: aqua;
}
.left {
  position: absolute;
  left: 8%;
  top: 54%;
  background-color: blue;
}
.right {
  position: absolute;
  top: 54%;
  left: 20%;
  background-color: blueviolet;
}

.alert {
  color: bisque;
  background-color: grey;
}
#beweglichesBild {
  width: 200px;
  position: absolute;
  right: 10%;
} */
/* Animation */
#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}
.controls {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.controls,
select,
option {
  font-size: 25px;
}

#canvas2 {
  position: absolute;
  border: 3px solid white;
  width: 800px;
  height: 700px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
