@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #24272e;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
header {
  background: white;
  padding: 40px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: Asap, sans-serif;
}
.score-board {
  border: 3px solid white;
  border-radius: 40px;
  text-align: center;
  padding: 15px 20px;
  margin: 50px auto;
  width: 250px;
  color: white;
  font-size: 46px;
  font-family: Asap, sans-serif;
  position: relative;
}
.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-size: Asap, sans-serif;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}
#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}
.result {
  font-size: 40px;
  color: white;
}
.result > p {
  text-align: center;
  font-family: Asap, sans-serif;
  font-weight: bold;
}
.choices {
  text-align: center;
  margin-top: 50px;
}
.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  transition: all 0.3s ease;
}
.choice img {
  background-size: contain;
  width: 80px;
}
.choice:hover {
  cursor: pointer;
  background: lightcoral;
}
#action-message {
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.green-glow {
  border: 4px solid greenyellow;
  box-shadow: 0 0 10px green;
}

.red-glow {
  border: 4 px solid red;
  box-shadow: 0 0 10px #dc2626;
}
.grey-glow {
  border: 4 px solid #4c1d95;
  box-shadow: 0 0 10px #0ea5e9;
}

.description {
  width: 500px;
  height: 500px;
  margin-top: 70px;
  margin-left: 80px;
}
.description h3 {
  color: white;
}
.description p {
  margin-top: 30px;
  font-size: 20px;
  color: #e2584d;
  font-family: Asap, sans-serif;
}
.border {
  margin-top: 15px;
  border-bottom: 8px solid #0ea5e9;
  border-radius: 100%;
}

.btn-gameDescribe {
  display: flex;
  width: 50px;
  border: 2px sollid #0ea5e9;
}
/* responsive for small screens */
@media only screen and (min-width: 200px) and (max-width: 500px) {
  header {
    padding: 20px;
  }

  .score-board {
    width: 50%;
    font-size: 24px;
    padding: 10px 10px;
    margin: 50px auto;
  }

  .result {
    font-size: 20px;
  }

  .result > p {
    font-size: 16px;

    .choice img {
      width: 50px;
    }

    #action-message {
      font-size: 14px;
      margin-top: 10px;
    }

    .badge {
      font-size: 12px;
      padding: 1px 5px;
    }

    #user-label,
    #computer-label {
      display: none;
    }

    .choices {
      margin-top: 20px;
    }

    .choice {
      margin: 0 10px;
    }
    .description {
      display: none;
    }
  }
}

#myBtn {
  border: none;
  border-radius: 3%;
  font-size: large;
  color: #0ea5e9;
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 25%;
  left: 10%;
  cursor: pointer;
}
#myBtn:hover {
  color: #e2584d;
  background-color: #0ea5e9;
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  #myBtn {
    position: absolute;
    top: 80%;
    left: 28%;
    width: 150px;
  }
  .modal-background {
    height: 30%;
    margin-top: 80px;
    position: fixed;
    left: 0;
    top: 50%;
  }
  .modal-content {
    font-size: 5px;
  }
}
.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black  */
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content p {
  font-size: 20px;
}
.color-txt {
  font-family: Asap, sans-serif;
  color: #4c1d95;
  font-weight: bold;
}
.txt {
  font-family: Asap, sans-serif;
  margin-top: 20px;
}
/* The Close Button */
.close-button {
  color: #24272e;
  border-radius: 50%;
  border: 2px solid #24272e;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: palevioletred;
  text-decoration: none;
  cursor: pointer;
}
