* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100%;
  width: 100%;
  font-family: Asap, sans-serif;
  background: black;
}

.cover {
  height: 100vh;
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}
/* .cover-date {
  position: absolute;
  left: 10%;
  bottom: 10%;
  opacity: 0.6;
  color: white;
} */
nav {
  background: black;
  width: 40%;
  height: 10%;
  color: #f87171;
  /* overflow: hidden; */
}

.nav-closed ul {
  font-size: 30px;
  display: flex;
  gap: 30px;
  margin: 20px 30px;
  list-style-type: none;
  cursor: pointer;
  transition: font-weight 0.3s ease, color 0.2s ease, background-color 0.5s ease;
}

.nav-open {
  display: block;
  position: relative;
  top: 20%;
  max-width: 100px;
  max-height: 100px;
  justify-content: space-evenly;
  pointer-events: none;
  opacity: 0;
}

.clothing ul li {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.clothing ul {
  list-style-type: none;
  color: black;
}
@media (min-width: 250px) {
  body {
    overflow: hidden;
  }
  .nav-closed ul {
    font-size: 30px;
    display: block;
    margin: 20px;
  }
  ul li {
    padding: 10px;
  }

  .slide img {
    width: 60%;
  }

  h1 {
    display: none;
  }
}
