* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Asap, sans-serif;
  background: black;
}
.nav-images {
  display: flex;
  gap: 20px;
}

header {
  height: 100vh;
  position: relative;
  display: flex;
}
.cover {
  height: 100vh;
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}
.cover-date {
  position: absolute;
  left: 10%;
  bottom: 10%;
  opacity: 0.6;
  color: white;
}
nav {
  background: white;
  z-index: 2;
  width: 40%;
  height: 20%;
  color: #0f172a;
  /* overflow: hidden; */
}
.nav-closed h3 {
  margin: 5px auto;
}
.nav-closed ul {
  font-size: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 100px;
  height: 20%;
  width: 50%;
  position: absolute;
  list-style-type: none;
  cursor: pointer;
}
.nav-closed ul:hover {
  color: #f87171;
}
.nav-open {
  position: absolute;
  width: 40%;
  height: 80%;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.clothing ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.clothing h2 {
  margin-top: 50px;
  position: absolute;
  left: 5%;
  top: 0;
  font-size: 50px;
}
.clothing ul li {
  padding-bottom: 10px;
}
.clothing ul {
  list-style-type: none;
  color: black;
}
.nav-images img {
  margin-top: 200px;
  width: 35vh;
}

/* Media Query für kleine Geräte */
