* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: Asap, sans-serif;
  background: black;
}
.nav-images {
  width: 200px;
  height: 200px;
  gap: 20px;
}

header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
}
.cover {
  height: 100vh;
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}
.cover-date {
  position: absolute;
  left: 10%;
  bottom: 10%;
  opacity: 0.6;
  color: white;
}
nav {
  background: white;
  z-index: 2;
  width: 40%;
  height: 10%;
  color: #f87171;
  /* overflow: hidden; */
}

.nav-closed ul {
  font-size: 30px;
  display: flex;
  gap: 30px;
  margin: 20px 30px;
  list-style-type: none;
  cursor: pointer;
  transition: font-weight 0.3s ease, color 0.2s ease, background-color 0.5s ease;
}

/* .nav-closed ul:hover {
  font-weight: bold;
} */
/* .nav-closed ul li:hover {
  border: 3px solid rgb(82, 80, 80);
  padding: 10px;
  border-radius: 60%;
} */
.nav-open {
  display: block;
  position: relative;
  top: 20%;
  width: 100px;
  height: 100px;

  justify-content: space-evenly;
  pointer-events: none;
  opacity: 0;
}

.clothing ul li {
  display: flex;
  justify-content: space-around;
}
.clothing h2 {
  color: rgb(82, 80, 80);
  bottom: 0%;
  position: absolute;
  left: 15%;
  font-size: 30px;
}
.clothing ul li {
  padding-bottom: 10px;
}
.clothing ul {
  list-style-type: none;
  color: black;
}
.nav-images img {
  margin-top: 50px;
  margin-left: 100px;
  width: 200px;
}

@media screen and (min-width: 400px) {
}
