/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
} */

.slider {
  width: 300px;
  max-width: 800px;
  height: 350px;
  position: relative;
  left: 50%;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  width: 300px;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 55%;
  left: 2%;
}

.btn-next {
  top: 55%;
  right: 1%;
}
