.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 30px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__title {
  font-size: var(--size-2-xl);
  color: var(--clr-light);
}
.about__description {
  max-width: 60ch;
  font-size: var(--siz-sm);
  color: var(--clr-slate400);
}
.about__hr {
  border-color: var(--clr-slate800);
}
.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-light);
}
.about__ul-container {
  display: flex;
}

.about__ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 1em;

  flex: 1;
}
.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}
.about__::before {
  content: "";
  margin-left: 0.5em;
  border: 1px solid var(--clr-slate800);
}
/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }
  .about__title {
    font-size: var(--size-3-xl);
  }
  .about__description {
    font-size: var(--siz-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__list {
    font-size: var(--size-base);
  }
}

/* small */
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }
}
.about__img {
  width: 22rem;
}

/* medium */
@media (min-width: 768px) {
}

/* large */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title {
    font-size: var(--size-4-xl);
  }
  .about__description {
    font-size: var(--siz-large);
  }

  .about__subtitle {
    font-size: var(--size-large);
  }

  .about__list {
    font-size: var(--size-large);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5-xl);
  }
  .about__description {
    font-size: var(--siz-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }
  .about__img {
    width: 24rem;
  }
}
