.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 30px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__title {
  font-size: var(--size-2-xl);
  color: var(--clr-light);
}
.about__description {
  max-width: 60ch;
  font-size: var(--siz-sm);
  color: --clr-slate600;
}
.about__hr {
  border-color: #db2777;
}
.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-light);
}
.about__ul-container {
  display: flex;
}

.about__ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 1em;

  flex: 1;
}
.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}
.about__::before {
  content: "";
  margin-left: 0.5em;
  border: 1px solid var(--clr-slate800);
}
.about__img-wrapper {
  border-left: 20px solid paleturquoise;
  border-radius: 100%;
}
.about__img {
  border-radius: 100%;
}

#lightbox-modal {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 50%;
  background-color: #475569;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lightbox-modal img {
  max-width: 100%;
  max-height: 100%;
}

#close-lightbox {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
/* xs */
@media screen and (min-width: 200px) and (max-width: 768px) {
  .about {
    margin-left: 15px;
  }

  .about__content {
    gap: 0.5rem;
  }

  .about__title {
    font-size: var(--size-xl);
  }

  .about__description {
    font-size: var(--size-xs);
  }

  .about__subtitle {
    font-size: var(--size-xs);
  }

  .about__ul-container {
    flex-direction: column;
  }

  .about__ul {
    padding: 0.5em;
  }

  .about__list {
    font-size: var(--size-xs);
  }
  /* .about__img {
    display: none;
  } */
  /* Falls ::before genutzt wird, könnten Anpassungen nötig sein, abhängig vom Kontext
  .about__::before {
    margin-left: 0.25em;
  }
  .about__img-wrapper {
    width: 350px;
    height: 250px;
  } */
}

/* large */

@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title {
    font-size: var(--size-4-xl);
  }
  .about__description {
    font-size: var(--siz-large);
  }

  .about__subtitle {
    font-size: var(--size-large);
  }

  .about__list {
    font-size: var(--size-large);
  }
  .about__img {
    width: 20rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5-xl);
  }
  .about__description {
    font-size: var(--siz-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }
  .about__img {
    width: 40rem;
  }
}

/* <!-- interaktives Code-Editor-Fenster --> */
.code-editor {
  background-color: #1e1e1e;
  color: white;
  padding: 30px;
  border-radius: 4px;
  margin-top: 150px;
  opacity: 0.6;
}

.code-input {
  font-size: 20px;
  width: 90%;
  height: 150px;
  background-color: #333;
  color: #f8f8f2;
  border: none;
  padding: 10px;
  font-family: "Fira Code", monospace;
  margin-bottom: 10px;
}

#output {
  white-space: pre-wrap;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .code-input {
    font-size: 11px;
  }
}

.badgesH2 {
  margin-top: 80px;
  color: #dcfce7;
  text-align: center;
}
