.bee-container {
  width: 150px;
  margin-top: 200px;
  position: absolute;

  will-change: transform;
  animation: fly 70s linear infinite, vertical-move 8s ease-in-out infinite;
  cursor: pointer;
}

.speech-bubble {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
@keyframes fly {
  0% {
    left: 0;
    transform: scaleX(-1);
  }
  50% {
    left: calc(100% - 150px);
    transform: scaleX(-1);
  }
  50.001% {
    transform: scaleX(1);
  }
  100% {
    left: 0;
    transform: scaleX(1);
  }
}

@keyframes vertical-move {
  0%,
  100% {
    top: 50px;
  }
  25%,
  75% {
    top: 100px;
  }
}

/* Media Query f*/
@media (max-width: 768px) {
  .bee-container {
    margin-top: 400px;
  }

  @keyframes vertical-move {
    0%,
    100% {
      top: 100px;
    }
    25%,
    75% {
      top: 150px;
    }
  }
}
