* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
section {
  padding: 40px 15%;
}
.contact {
  background: #1e1b4b;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}
.contact-img img {
  max-width: 100%;

  width: 720px;
  height: auto;
  border-radius: 10px;
}

.contact-form h1 {
  font-size: 80px;
  color: #dcfce7;
  margin-bottom: 20px;
}
span {
  color: #db2777;
}
.contact-form p {
  color: #94a3b8;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #475569;
  color: #94a3b8;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form .btn {
  display: inline-block;
  background: #db2777;
  font-size: 1.1rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease 0.2s;
}
.contact-form form .btn:hover {
  border: 2px solid #94a3b8;
  background: transparent;
  transform: scale(1.1);
}
@media (min-width: 1024px) {
  section {
    padding: 80px 3%;
    transition: 0.2s;
  }
  .contact-form h1 {
    font-size: 50px;
  }
  .contact-form p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1000px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-form {
    order: 2;
  }
  .contact-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .contact {
    grid-gap: 2rem;
    transition: 0.3s;
  }
}
