.dog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

#canvas1 {
  position: relative;
  top: 50%;
  right: 5%;
  width: 80%;
  max-width: 600px;
  height: auto;
}

.ball {
  margin-bottom: 400px;
  width: 100px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .dog-container {
    margin-top: 100px;
  }
  #canvas1 {
    max-width: 400px;
  }

  .ball {
    margin-left: 100px;
    margin-bottom: 550px;
    width: 50px;
  }
}
