#canvas1 {
  position: relative;
  top: 50%;
  left: 0%;
  max-width: 600px;
  max-height: 600px;
  margin-top: 100px;
  margin-bottom: 150px;
  cursor: pointer;
}
.controls {
  position: relative;
  top: 10%;
  left: 10%;
}
.controls,
select,
option {
  margin-top: 150px;
  font-size: 25px;
  cursor: pointer;
}

/* Media Query für kleine Geräte */
@media (max-width: 768px) {
  .ball {
    position: absolute;
    /* Die Größe und Position bleiben gleich */
    width: 100px;
    margin-top: 550px;
    left: 75%;
  }

  #canvas1 {
    /* Die Größe und Position bleiben gleich */
    width: 500px;
    height: 500px;
  }

  .controls,
  select,
  option {
    /* Stellen Sie sicher, dass die Steuerelemente sichtbar und zugänglich bleiben */
    margin-top: 150px;
    font-size: 25px; /* Optionale Anpassung der Schriftgröße, falls erforderlich */
  }
}
