#canvas1,
.ball {
  position: absolute;
}

#canvas1 {
  top: 550%;
  left: 20%;
  opacity: 10;
  transform: translate(-50%, -50%); /* Zentriere #canvas1 im Container */
  max-width: 600px;
  max-height: 600px;
  cursor: pointer;
}

.ball {
  position: absolute;
  top: 490%;
  left: 30%;
  bottom: 20px;
  right: 20px;
  width: 100px;
}
.controls {
  position: relative;
  top: 80%;
  left: 10%;
}
.controls,
select,
option {
  margin-top: 250px;
  font-size: 25px;
  cursor: pointer;
}

/* Media Query  */
@media (max-width: 768px) {
  .ball {
    position: absolute;
    width: 50px;
    margin-top: 1300px;
    left: 75%;
  }

  #canvas1 {
    margin-top: 900px;
    margin-left: 150px;
    width: 400px;
    height: 400px;
  }

  .controls,
  select,
  option {
    margin-top: 50px;
    font-size: 25px;
  }
}
