#canvas1 {
  position: sticky;
  border: 2px solid black;
  /* transform: translate(-50%, -50%); */
  width: 600px;
  height: 600px;
  margin-bottom: 150px;
}
.controls {
  position: sticky;
  margin-top: 150px;
  z-index: 10;

  left: 10%;
  /* transform: translateX(-50%); */
}
.controls,
select,
option {
  font-size: 25px;
}
