#canvas1 {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 600px;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 150px;
  cursor: pointer;
}
.controls {
  position: relative;
  top: 10%;
  left: 10%;
}
.controls,
select,
option {
  margin-top: 150px;
  font-size: 25px;
  cursor: pointer;
}

option:hover {
  background-color: palevioletred;
}
