/* FOOTER */
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

footer {
  background-color: #475569;
  box-sizing: border-box;
  margin-top: 400px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: #1e293b;
  opacity: 0.9;
}

/* HOVER EFFECT on Social Media Icons */

.socialIcons a:hover {
  background-color: grey;
  transition: 0.5s;
}
.socialIcons a:hover {
  color: white;
  transition: 0.5s;
}

.footerBottom {
  background-color: #475569;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* @media (max-width: 768px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  section {
    padding: 3rem 2rem;
  }
} */
/* Anpassungen für Bildschirme  275px */
@media (min-width: 275px) {
  .footerContainer {
    padding: 18px 10px; /* Reduzierter Seitenabstand */
    font-size: var(--size-sm);
  }

  .footerBottom p {
    font-size: 12px; /* Kleinere Schriftgröße */
  }

  .socialIcons a {
    margin: 0 12px; /* Reduzierter Abstand zwischen Icons */
  }

  .socialIcons i {
    font-size: 20px; /* Kleinere Icons */
  }
  .designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
