/* FOOTER */
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

footer {
  /* background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; */
  box-sizing: border-box;
  margin-top: 400px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a img {
  width: 50px;
  opacity: 0.9;
}

/* HOVER EFFECT on Social Media Icons */

.socialIcons a:hover {
  background-color: grey;
  transition: 0.5s;
}

.footerBottom {
  padding: 20px;
}
.footerBottom p {
  text-align: center;
  margin-top: 20px;
  color: white;
}
.designer {
  margin: 0 auto;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px auto;
}

/* Anpassungen für Bildschirme  275px */
@media (min-width: 276px) {
  .footerContainer {
    padding: 70px 30px 20px; /* Ursprüngliches Padding für größere Bildschirme */
  }

  .socialIcons a img {
    width: 50px; /* Ursprüngliche Icon-Größe */
  }

  .footerBottom p,
  .designer {
    font-size: 1rem; /* Ursprüngliche Schriftgröße */
  }
}
