.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
  margin-right: 20px;
}

.toggle {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle .txt-toggle {
  font-size: 12px;
  margin-bottom: 10px;
}

.header__menu {
  display: flex;

  list-style: none;
}

.header__menu li {
  padding: 10px;
}

.header__menu img {
  background-color: #4f46e5;
  border-radius: 50%;
  display: flex;
  padding: 0px;
  margin: 20px;
}
li .header__link {
  font-size: var(--size-large);
  text-decoration: none;
  color: #475569;
  letter-spacing: -0.05em;
  transition: color 0.3s;
}
.header__link:hover {
  color: #db2777;
}

.header__line {
  border-right: 3px solid #db2777;
  padding-top: 1.5em;
}

.header__resume {
  font-size: var(--size-xs);
}

/* medium */
@media screen and (min-width: 200px) and (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__menu li a {
    font-size: var(--size-xs);
  }
  .header__link {
    text-decoration: none;
  }

  .header__line {
    display: none;
  }

  .header__resume {
    font-size: var(--size-xs);
  }

  .off {
    display: none;
  }
}
