.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
  margin-right: 20px;
}

.header__menu {
  display: none;
}

.header__bars {
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}
.header__link {
  font-size: var(--size-xs);
}
.header__link {
  font-size: var(--size-xs);
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-slate600);
  letter-spacing: -0.05em;
  transition: color 0.3s;
}
.header__link:hover {
  color: var(--clr-pink);
}

.header__line {
  border-right: 1px solid var(--clr-slate400);
  padding-top: 1.5em;
}
.header__bulp {
  color: var(--clr-slate600);
  width: var(--size-base);
  height: var(--size-base);
  display: block;
}
.header__resume {
  font-size: var(--size-xs);
}

/* Standard-Stile für das Hamburger-Menü */
.hamburger-menu {
  display: none; /* Auf großen Bildschirmen unsichtbar */
}

/* Media Query für mobile Geräte (z. B. Smartphones) */
@media screen and (max-width: 768px) {
  .header__hamburger {
    display: block; /* Auf mobilen Geräten sichtbar */
  }
}

/* medium */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    text-decoration: none;
  }
  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  .header__line {
    border-right: 1px solid var(--clr-slate400);
    padding-top: 1.5em;
  }
  .header__bulp {
    color: var(--clr-slate600);
    width: var(--size-base);
    height: var(--size-base);
    display: block;
  }
  .header__resume {
    font-size: var(--size-xs);
  }
  .header__bars {
    display: none;
  }
}

/* large */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }

  .header__bulp {
    font-size: var(--size-xs);
    width: var(--size-xl);
    height: var(--size-xl);
  }
  .header__resume {
    font-size: var(--size-sm);
  }
}
