.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
  margin-right: 20px;
}
/* #coloredImage {
  width: 80px;
  display: flex;
  position: relative;
  left: 50;
  right: 50%;
} */
/* .element {
  height: 400px;
  width: 400px;
  background-color: red;
  animation: pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
  border-radius: 100%;
} */

/* @keyframes pulse {
  10%,
  100% {
    background-color: rgb(138, 105, 105);
  }
  50% {
    background-color: rgb(126, 87, 14);
  }
}

@keyframes nudge {
  10%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
} */

.header__menu {
  display: flex;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}
.header__menu li {
  padding: 10px;
}
.header__menu img {
  background-color: #4f46e5;
  border-radius: 50%;
  display: flex;
  padding: 0px;
  margin: 20px;
}
li .header__link {
  font-size: var(--size-base);

  color: #475569;
  letter-spacing: -0.05em;
  transition: color 0.3s;
}
.header__link:hover {
  color: #db2777;
}
.dark-mode img {
  display: grid;
  left: 0;
}
.header__line {
  border-right: 3px solid #db2777;
  padding-top: 1.5em;
}
.header__bulb img {
  color: #4f46e5;
  margin-left: 5px;
  width: 30px;
  display: block;
}
.header__resume {
  font-size: var(--size-xs);
}

/* Media Query für mobile Geräte (z. B. Smartphones) */
/* @media screen and (max-width: 768px) {
  .header__hamburger {
    display: block; /* Auf mobilen Geräten sichtbar */
/* }
} */

/* medium */
@media screen and (min-width: 200px) and (max-width: 768px) {
  .header__menu {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
  }
  .header__menu li a {
    font-size: var(--size-xs);
  }
  .header__link {
    text-decoration: none;
    font-weight: 500;
    color: #475569;
  }

  .header__line {
    border-right: 1px solid #db2777;
    padding-top: 1.5em;
  }
  /* .header__bulp {
    color: #4f46e5;
    width: var(--size-base);
    height: var(--size-base);
    display: block;
  } */
  .header__resume {
    font-size: var(--size-xs);
  }
}

/* large */
/* /* @media (min-width: 224px) {
  .header__link {
    font-size: var(--size-sm);
  }

  .header__bulp {
    font-size: var(--size-xs);
    width: var(--size-xl);
    height: var(--size-xl);
  }
  .header__resume {
    font-size: var(--size-sm);
  }
} */
