/* HERO SECTION PERSON DESCRIPTION */

.hero {
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hero__subtitle {
  margin-top: 80px;
  color: var(--clr-slate600);
  font-size: var(--size-base);
  line-height: 0.9;
}
.hero__title {
  color: var(--clr-slate600);

  font-size: var(--size-large);
  letter-spacing: -0.02em;
  line-height: 0.5;
}

.underline {
  width: 85%;

  text-decoration: none;
  background-image: linear-gradient(#222b40, #222b40),
    linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
    linear-gradient(#feb2b2, #feb2b2);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}
.underline:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
a:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.margin-top {
  margin-top: 10px;
  padding: 20px;
}

/* .hero_description {
  max-width: 100ch;
  font-size: var(--size-5-xl);
  color: var(--clr-slate600);
} */

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size);
}

.hero p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    font-size: 12px;
  }
  .hero {
    display: none;
  }
  .hero__btn {
    margin-top: 80px;
  }

  .underline {
    display: none;
  }
}
/* xs */
@media (min-width: 275px) {
  .hero {
    gap: 1, 5rem;
  }
  .hero__img {
    width: 10.5rem;
    height: 10.5rem;
  }
  .hero__subtitle {
    font-size: var(--size-large);
  }
  .hero__title {
    font-size: var(--size-4-xl);
  }
  .hero_description {
    font-size: var(--size-large);
  }
  .hero__btn {
    font-size: var(--size-base);
  }
}

/* small */
@media (min-width: 640px) {
  .hero {
    gap: 1, 5rem;
  }
  .hero__img {
    width: 10.5rem;
    height: 10.5rem;
  }
  .hero__subtitle {
    font-size: var(--size-large);
    margin-top: 20%;
  }
  .hero__title {
    font-size: var(--size-4-xl);
  }
  .hero_description {
    font-size: var(--size-large);
  }
  .hero__btn {
    font-size: var(--size-base);
  }
}

/* medium */
@media (min-width: 768px) {
  .hero__title {
    font-size: var(--size-sm 0.875rem);
  }
}

/* large */
@media (min-width: 1024px) {
  .hero__img {
    width: 10.5rem;
    height: 10.5rem;
  }
  .hero__subtitle {
    font-size: var(--size-2-xl);
  }
  .hero__title {
    font-size: var(--size-6-xl);
  }
  .hero_description {
    font-size: var(--size-large);
  }
  .hero__btn {
    font-size: var(--size-large);
  }
}

/* xl */

@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10.5rem;
    height: 10.5rem;
  }
  .hero__subtitle {
    font-size: var(--size-4-xl);
  }
  .hero__title {
    font-size: var(--size-9-xl);
  }
  .hero_description {
    font-size: var(--size-xl);
  }
  .hero__btn {
    font-size: var(--size-xl);
  }
}
/* Animation */
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}
