* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: #1e293b;
}
body {
  min-height: 100vh;
  background: #374151;
}

/* ANIMATION */
.container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.bubbles {
  position: relative;
  margin-left: 5%;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ea580c;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #f59e0b, 0 0 50px #ea580c, 0 0 100px #ea580c;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: 100px#166534;
  box-shadow: 0 0 0 10px#16a34a 0 0 50px#166534, 0 0 100px#166534;
}

@keyframes animate {
  50% {
    transform: translateY(50vh) scale(0);
  }
  100% {
    transform: translateY(-50vh) scale(5);
  }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
  .bubbles {
    position: absolute;
    margin: 0;
  }
}
/* END ANIMATION */

/* back to prew Page btn */
.switch {
  position: relative;
  left: 45%;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border: 5px solid #166534;
  background: #374151;
  border-radius: 5px;
  cursor: pointer;
}
.switch a {
  text-decoration: none;
  color: white;
}
/* CONTENT SECTION INTERESTS */

.shadow-drop-center {
  -webkit-animation: shadow-drop-center cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border: 1px solid green;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

#about_me_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap-reverse;
}
.about_me_container {
  width: 750px;
  max-width: 90%;
  color: var(--clr-light);
}
#about_me_section img {
  width: 400px;
  max-width: calc(90% - 30px);
  border: 15px solid #185252;
}
.shadow-drop-center p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: white;
}

.about_me_container p {
  text-align: center;
  line-height: 200%;
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  #about_me_section {
    padding: 5px 0;
  }
  #about_me_section h2 {
    text-align: center;
  }
}

/* END CONTENT  */

.container-1 {
  padding: 2rem;
}
.slider-wrapper {
  position: relative;
  max-width: 45rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  /* scroll-behavior: smooth; */
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  column-gap: 2rem;
  margin-top: 5px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.slider img {
  max-height: 25vh;
  flex: 0 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
}
.slider-nav {
  display: flex;
  /* column-gap: 1rem; */
  position: absolute;
  bottom: 1.25rem;
  left: 30%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .container-1 .slider-wrapper {
    width: 100%;
  }
}
