/* xs */
@media (min-width: 475px) {
}

/* small */
@media (min-width: 640px) {
}

/* medium */
@media (min-width: 768px) {
}

/* large */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* XXL */
@media (min-width: 1536px) {
}
/* BUTTON ALL SET UP */
.btn {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-pink);
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(255, 29, 72, 0.5),
    0 6px 6px rgba(255, 29, 72, 0.5), 0 0 100px -10px var(--clr-pink);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(255, 29, 72, 0.25),
    0 10px 10px rgba(255, 29, 72, 0.22), 0 0 120px -10px var(--clr-pink);
}
/* PAGE TOP */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
}
.section {
  margin-top: 5rem;
}

/* SCREEN SET UP CONTAINER TOP */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* small */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* medium */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* large */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* XXL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Animation IMG Roboter */

.hero__img {
  width: 100px;
  position: relative;
  animation: moveImage 4s linear infinite alternate; /* Animationseigenschaften */
}

/* CSS-Keyframes für die Animation */
@keyframes moveImage {
  0% {
    left: 0; /* Startposition (links) */
  }
  100% {
    left: 200px; /* Endposition (rechts) */
  }
}
/* Animation nur auf größeren Bildschirmen (mindestens 768px) */
@media (min-width: 768px) {
  .hero__img {
    animation: moveImage 4s linear infinite alternate; /* Animationseigenschaften */
  }
}
