.mobile-nav {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #1e1b4b;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mobile-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mobile-nav__link {
  font-size: var(--size-xl);
  text-decoration: none;
  font-weight: 800;
  color: #475569;
  letter-spacing: -0.05em;
  transition: color 0.3s;
  padding: 10px 0;
}
.mobile-nav__link:hover {
  color: #db2777;
}
.mobile-nav__link-line {
  border-bottom: 1px solid #dcfce7;
  padding-right: 1em;
}

.mobile-nav__btn {
  font-size: var(--size-xl);
}

.left {
  margin-left: 20px;
  color: #475569;
  font-size: medium;
}
.left:hover {
  color: #db2777;
}
.lightbulb {
  position: relative;
  width: 120px;
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .left {
    font-size: 12px;
  }
}
