.sidenav {
  height: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: pink;
}
#mySidenav .sidenav_hover:hover {
  border: 1px solid pink;
}
.sidenav .closebtn {
  margin-left: 157px;
  padding-bottom: 10px;
  font-size: 36px;
  cursor: pointer;
}
.fa-gears {
  margin-top: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

#main i {
  transition: margin-left 0.3s;
  padding: 16px;
  cursor: pointer;
}
/* Media Query für größere Bildschirme */
@media screen and (min-width: 768px) {
  #mySidenav,
  #main i {
    display: none;
  }
}
