.sidenav {
  width: 0;
  height: 28%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: pink;
}
#mySidenav .sidenav_hover:hover {
  border: 1px solid pink;
}
.sidenav .closebtn {
  margin-left: 105px;
  padding-bottom: 10px;
  font-size: 26px;
  cursor: pointer;
}

#main i {
  position: absolute;
  right: 10%;
  transition: margin-left 0.3s;
  padding: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #mySidenav,
  #main i {
    display: none;
  }
}
