.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--clr-indigo950);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mobile-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mobile-nav__link {
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-slate600);
  letter-spacing: -0.05em;
  transition: color 0.3s;
}
.mobile-nav__link:hover {
  color: var(--clr-pink);
}
.mobile-nav__link-line {
  border-bottom: 1px solid var(--clr-slate400);
  padding-right: 1.5em;
}
.mobile-nav__bulb {
  display: block;
  width: var(--size-xl);
  height: var(--size-xl);
  color: var(--clr-slate600);
}
.mobile-nav__btn {
  font-size: var(--size-sm);
}
/* Standardstil für die Glühbirne */
.fa-lightbulb {
  /* Stil für ausgeschaltete Glühbirne */
  color: var(--clr-pink);
}

/* Stil für eingeschaltete Glühbirne */
.fa-lightbulb.active {
  color: var(--clr-pink);
}
