@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: darkslategrey;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  min-height: 100vh;
}
.api {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 50px;
  background: grey;
  color: white;
}
.api a {
  text-decoration: none;
}
.border {
  border-bottom: 3px solid blue;
  margin-top: 30px;
}

.background-clip {
  width: 200vh;
  height: 600px;
}

.container {
  width: 100vh;
  margin-top: 50px;
  font-size: 20px;
}

.meal-btn {
  border: none;
  font-size: 25px;
  background: grey;
  color: white;
  cursor: pointer;
}
.meal-btn:hover {
  background: pink;
}
/* Media Queries für Geräte zwischen 200px und 450px */
@media (min-width: 200px) and (max-width: 450px) {
  .api {
    display: none;
  }
  .container {
    align-items: center;
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
  }

  .background-clip {
    position: relative;
    top: 0;
    width: 100%;
  }
}
