#services_section {
  margin-top: 50px;
  padding: 70px 0;
  background-color: var(--primary-color);
}
#services_section h2 {
  font-size: 50px;
  text-align: center;
  color: #dcfce7;
}
.flex_container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  max-width: calc(90% -40%);
  background-color: #475569;
  border-bottom: 20px solid paleturquoise;
  border-radius: 100px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card h3 {
  color: #dcfce7;
}
.card * {
  text-align: center;
  color: #1e293b;
}

.img-container {
  width: 100px;
  margin: 0 auto;
}
.icon-container {
  display: flex;

  gap: 50px;
}

/* Responsive styles for screens up to 375px */
@media screen and (max-width: 375px) {
  #services_section h2 {
    font-size: 30px; /* Smaller font size for the title */
    margin: 20px 0; /* Adjust top and bottom margin */
  }

  .flex_container {
    gap: 20px; /* Smaller gap between cards */
  }

  .card {
    width: 90%; /* Increase width to utilize more screen space */
    padding: 40px 15px; /* Smaller padding */
    border-radius: 50px; /* Smaller border radius */
  }

  .card h3 {
    font-size: 24px; /* Smaller font size for headings in cards */
  }

  .card p {
    font-size: 14px; /* Smaller text for readability */
  }

  .fa-brands {
    font-size: 40px; /* Smaller icon size */
  }

  .icon-container {
    margin-left: 25%; /* Adjust icon container alignment */
    gap: 15px; /* Reduce gap between icons */
  }
}
