#services_section {
  margin-top: 50px;
  padding: 70px 0;
  background-color: var(--primary-color);
}
#services_section h2 {
  font-size: 30px;
  text-align: center;
  color: #dcfce7;
}
.flex_container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  max-width: calc(90% -40%);
  background-color: #475569;
  border-bottom: 20px solid paleturquoise;
  border-radius: 100px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card h3 {
  color: #dcfce7;
}
.card * {
  text-align: center;
  color: #94a3b8;
}

.img-container {
  width: 100px;
  margin: auto;
}
.icon-container {
  display: flex;
  padding: 0 auto;
  margin: 0 auto;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  #services_section h2 {
    font-size: 20px;
    margin: 20px 0;
  }

  .flex_container {
    gap: 20px;
  }

  .card {
    width: 70%;
    padding: 40px 15px;
    border-radius: 50px;
  }

  .card h3 {
    font-size: 24px;
  }

  .card p {
    font-size: 14px;
  }

  .fa-brands {
    font-size: 20px;
  }

  .icon-container {
    margin-left: 15%;
    gap: 15px;
  }
  .img-container {
    width: 50px;
  }
  .aside {
    padding: 20px;
  }
}
