#services_section {
  margin-top: 50px;
  padding: 70px 0;
  background-color: var(--primary-color);
}
#services_section h2 {
  font-size: 50px;
  text-align: center;
  color: #dcfce7;
}
.flex_container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  max-width: calc(90% -40%);
  background-color: #475569;
  border-radius: 100px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card h3 {
  color: #dcfce7;
}
.card * {
  text-align: center;
  color: #1e293b;
}

.fa-brands {
  font-size: 50px;
}
.icon-container {
  display: flex;
  margin-left: 35%;
  gap: 25px;
}

@media (max-width: 800px) {
  #services_section h2 {
    font-size: 12vw;
  }
}
