.flip-scale {
  animation: flip-scale 0.5s linear both;
}
@keyframes flip-scale {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}
.element {
  background: #6a1b9a;
  color: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 40px;
}
button {
  position: absolute;
  top: 10px;
  left: 10px;
}
