/* colors from tailwind css */

:root {
  --clr-indigo950: #1e1b4b;
  --clr-light: #dcfce7;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-pink: #db2777;
  --clr-indigo: #4f46e5;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79,70 229) */

  /* FONT SIZES  valiues from tailwind css*/

  --size-xxs: 0, 5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-large: 1.125rem;
  --size-xl: 1.25rem;
  --size-2-xl: 1.5rem;
  --size-3-xl: 1.875rem;
  --size-4-xl: 2.25rem;
  --size-5-xl: 3rem;
  --size-6-xl: 3.75rem;
  --size-7-xl: 4.5rem;
  --size-8-xl: 6rem;
  --size-9-xl: 8rem;
  --size-10-xl: 10rem;
}
/* MAIN SET UP  */
* {
  margin: 0;
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
.light-mode {
  --clr-light: #1e1b4b;
  --clr-dark: #dcfce7;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Dancing+Script:wght@400;700&family=Dosis:wght@700&family=Maven+Pro:wght@400;500;600;700&family=Pacifico&family=Roboto:wght@300&display=swap");

body {
  font-family: "Agbalumo";
  font-weight: 800;
  background-color: #94a3b8;
  color: #1e1b4b;
  padding: 20px;
}
.dark-mode {
  background-color: #1e1b4b;
  color: white;
}

/* -------------------- */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
button {
  /* display: flex;
  padding: 0; */
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
a {
  color: #db2777;
}
strong {
  color: #4f46e5;
}
