.time {
  border-bottom: 2px solid #db2777;
  font-size: 20px;
  position: absolute;
  right: 5%;
  color: #94a3b8;
  color: #1e1b4b;
}

#displayArea {
  position: absolute;
  top: 25%;
  right: 5%;
  color: #db2777;
}
@media screen and (max-width: 768px) {
  #demo,
  .time {
    display: none;
  }
}
